# -*- sh -*-

# Load the .envrc one level up:
source_up

# Load in the shell.nix file:
if type lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Reload on file changes:
watch_file sthenauth-daemon.cabal default.nix
