# -*- sh -*-

# For loading run-time assets:
export sthenauth_datadir=$(pwd)/sthenauth
export STHENAUTH_CONFIG="$(pwd)/sthenauth-server/tmp/config.yml"
export STHENAUTH_SECRETS_DIR="$(pwd)/sthenauth-server/tmp/secrets"
