# -*- sh -*-

# Pinned version of nixpkgs:
NIXPKGS_COMMIT=a2e06fc3423c4be53181b15c28dfbe0bcf67dd73
export NIX_PATH=nixpkgs=https://github.com/nixos/nixpkgs/archive/${NIXPKGS_COMMIT}.tar.gz

# Load in the shell.nix file:
use nix

# For loading run-time assets:
export sthenauth_datadir=$(pwd)
export STHENAUTH_CONFIG="$(pwd)/tmp/config.yml"
export STHENAUTH_SECRETS_DIR="$(pwd)/tmp/secrets"

# When running tests directly, put sthenauth in PATH:
if [ -d "$(pwd)/result/bin" ]; then
  export PATH="$(pwd)/result/bin":$PATH
fi

# Reload if these files changes:
watch_file sthenauth.cabal
