# -*- sh -*-

# For loading run-time assets:
export sthenauth_datadir=$(pwd)/sthenauth
export sthenauth_certauth_datadir=$(pwd)/sthenauth-certauth

# Default command line options:
export STHENAUTH_INIT=1
export STHENAUTH_DB="dbname=sthenauth"
export STHENAUTH_SECRETS_DIR="$(pwd)/tmp/secrets"

# Use the nixpkgs commit from nix/nixpkgs.nix:
commit=$(sed -nE 's/^.*commit .*"([a-z0-9]+)".*$/\1/p' nix/nixpkgs.nix)
export NIX_PATH=nixpkgs="https://github.com/nixos/nixpkgs/archive/${commit}.tar.gz"
